################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.idea/
/.vs/
/my.website/bin/
/my.website/obj/
