################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.idea/
/.vs/
# Ignore Visual Studio files
*.orig
*.obj
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
*.sbr
*.scc
*.nupkg
*.tli
*.tmp
*.tmp_proj
*.vssscc
.builds
*.pidb
*.svclog
[Bb]in
[Dd]ebug*/
[Oo]bj/
[Rr]elease*/
[Pp]ackages/
