@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to My Website !</h1>
    <p>Contact me <a href="https://www.linkedin.com/in/mustafa-bat%C4%B1-738a00188/">LinkedIn</a>.</p>
    <img src="https://media.licdn.com/dms/image/D4D03AQETFrB0eJDAZQ/profile-displayphoto-shrink_200_200/0/1708663547309?e=1716422400&v=beta&t=6HIn8uyOwOp8LcTYxQu9nIW6yyN1Vi9XCVo6Q4oVkMw" style="height:350px; width:350px;" />
</div>
