@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to My Website</h1>
    <p>Contact me <a href="https://www.linkedin.com/in/mustafa-bat%C4%B1-738a00188/">LinkedIn</a>.</p>
</div>
